body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #7a16bd;
    color: #ffffff;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}

header {
    text-align: center;
    
}

.container-centro {
    background-color: rgba(238, 234, 3, 0.856);
    padding: 20px 50px 40px 50px;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

textarea {
    width: 98%;
    height: 140px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

#lbl-txt-desc {
    font-weight: bold;
}
